

.checkbox {
  display: none;
  &__label {
    cursor: pointer;
    font-size: 18px;
    &::before {
      content: "\2714";
      border: 2px solid grey;
      border-radius: 10%;
      display: inline-block;
      font-size: 16px;
      width: 24px;
      height: 8px;
      transform: translateY(3px);
      padding: 0px 0 20px 4px;
      margin-right: 8px;
      color:transparent;
    }
  }

  &:checked {
    + .checkbox__label{
      text-decoration:line-through;
      &::before {
        border: 2px solid  map-get($theme-colors , primary );
        background-color:  map-get($theme-colors , primary );
        color: white;
      }
    }
  }
}

